<!-- Footer -->
<footer  class="page-footer font-small blue bg-light">

  
  
    <!-- Copyright -->
    <div class="footer-copyright py-3">
    

       <div class="row">
        <div class="col-sm-4" >
          <div *ngIf='isLoggedIn==true'>
            <a (click)="openDialog()" class="btn btn-default mb">
                        <span class="glyphicon glyphicon-user"><i class="fas fa-key"></i></span> Izmena lozinke
                    </a>
          </div>
          
        </div>
        <div class="col-sm-4" style="text-align: center;" >
          © 2020 Copyright:
          <a  href=""> Veles.com</a></div>
        <div class="col-sm-4"></div>
      </div>
      
    </div>
    <!-- Copyright -->

    
  
  </footer>
  <!-- Footer -->